@model IEnumerable<CineXperience.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole(Displays.RolEmpleado) || User.IsInRole(Displays.RolAdmin))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>                  
            
                @if (User.IsInRole(Displays.RolEmpleado) || User.IsInRole(Displays.RolAdmin))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-primary" asp-controller="Funciones" asp-action="IndexByMovie" asp-route-peliculaId="@item.Id">Funciones disponibles</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
